[Unit]
Description=API for managing games of Diplomacy.
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=jherget
WorkingDirectory=/home/jherget/code/diplomacy-api
ExecStart=/home/jherget/code/diplomacy-api/dist/local

Environment="AWS_REGION=us-west-2"
Environment="TURN_SCHEDULE_ROLE_ARN=arn:aws:iam::620486971062:role/diplomacy-turn-scheduler-role"
Environment="TURN_SCHEDULE_LAMBDA_ARN=arn:aws:lambda:us-west-2:620486971062:function:diplomacy-api-v1-turns"
Environment="EVENTS_QUEUE_URL=https://sqs.us-west-2.amazonaws.com/620486971062/diplomacy-api-v1-events"

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
